.card_container {
    display: flex;
    width: 90%;
    border-radius: 1rem;
    background-color:#D7C7F421;
    margin: 1rem;
}

.card_container img {
    border-radius: 50%;
    object-fit: cover;
    height: 50%;
    align-self: center;
}


.card_container_details{
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.card_container_details h5{
    margin: 1px;
    font-size: 1rem;
}

.card_container_details p{
    margin: 1px;
    font-weight: 300;
}

.card_container_details_sub {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card_container_details_sub h6{
   margin: 1px;
   padding: 0px;
}

.response{
    display: flex;
    /* visibility: hidden; */
    /* border: 1px solid red; */
    min-width: 50%;
    min-height: 1rem;
}

.response:hover{
    cursor: pointer;
    /* visibility:inherit; */
}


/* .thumbUp, .thumbDown{
    display: none !important;
}

.thumbUp:hover{
    cursor: pointer;
    display: block !important;
}

.thumbDown:hover{
    display: inline-block !important;
} */
